<table class="table mb-5">
    <thead>
    <tr>
        <td class="text-center">
            Your comments
        </td>
        <td class="text-center">
            Expert's comments
        </td>
    </tr>
    </thead>
    <tbody>
    {{#content}}
        {{> mod_ctsr/comments_row }}
    {{/content}}
    </tbody>
</table>