<li class="nav-item text-center" data-toggle="tooltip" data-placement="top" data-title="{{title}}" style="flex: 1 1 auto">
    <a class="nav-link ctsr-tab"
        id="pills-{{item}}-tab"
        data-toggle="pill"
        href="#pills-{{item}}"
        role="tab"
        aria-controls="pills-{{item}}"
        aria-selected=""
    >{{{item}}}</a>
</li>