<div class="tab-pane fade" id="pills-{{item}}" role="tabpanel" aria-labelledby="pills-{{item}}-tab">
    <h3 class="mb-3 text-center flush bg-lb50 py-2">{{{title}}}</h3>
    <div class="d-flex mb-3 align-items-center">
        <span class="mr-3">{{{scorelabel}}}</span>
        <span>{{{scorefield}}}</span>
        <span class="ml-auto font-weight-bold">Total score: <span id="ctsr-score-total">0.0</span></span>
    </div>
    <span class="d-block mb-2">{{{commentslabel}}}</span>
    {{{commentsfield}}}
</div>
